<div class="header--container container">
    <nav class="header--nav">
        <ul class="header--ico">
            <li class="header--ico-name-company">
                <img src="~/Content/imgs/ico.svg" alt="Comapny Ico">
                <h2 class="header--name-company">CYSPNET</h2>
            </li>
        </ul>
        <ul class="header--nav-main">
            <li><a class="header--nav-main-li" href="#">Главная</a></li>
            <li><a class="header--nav-main-li" href="#">О проекте</a></li>
            <li><a class="header--nav-main-li" href="#">Возможности</a></li>
            <li><a class="header--nav-main-li" href="#">Карточки</a></li>
            <li><a class="header--nav-main-li" href="#">Статистика</a></li>
            <li><a class="header--nav-main-li" href="#">FAQ</a></li>
        </ul>
        <ul class="header--sign-log-block">
            <li><a class="header--log-in" href="#">Войти</a></li>
            <li><a class="header--sing-in" href="#">Регистрация</a></li>
        </ul>
    </nav>
    <div class="header--mobile__container">
        <input type="checkbox" id="header--checkbox4" class="header--checkbox4 header--visuallyHidden">
        <label for="header--checkbox4">
            <div class="header--hamburger header--hamburger4">
                <span class="header--bar header--bar1"></span>
                <span class="header--bar header--bar2"></span>
                <span class="header--bar header--bar3"></span>
            </div>
        </label>
    </div>
</div>