/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,500i');

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    background-color: #272937;
    background-image: url('../Content/imgs/background-with-red-points.png'), url(../Content/imgs/background-with-triangles.png);
    /* background-size: cover;
    background-position: center; */
}

/* --------------------------------------------------------------------------------------------------
   --------------------------------------------- Header ---------------------------------------------
   -------------------------------------------------------------------------------------------------- */
.header--nav {
    /* display: flex;
    padding: 1rem; 
    justify-content: center; */
    display: flex;
    align-items: center;
    /*margin: 29px 13% 0% 13%;*/
    justify-content: space-between;
    margin: 29px 0 0 0;
}

.header--ico {
    /* padding: 3% 5% 0% 0%; */
    display: flex;
    align-items: center;
    /*padding: 0% 4% 0% 0%;*/
}

.header--nav-main {
    /* padding: 3% 4% 0% 0%;
    justify-content: space-between;
    width: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0% 4% 0% 0%;*/
}

.header--nav-main-li {
    padding: 1rem;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.header--nav-main-li:hover {
    text-shadow: #fff 1px 0 10px;
    color: #fff;
}

.header--sign-log-block {
    /* padding: 3% 0% 0% 0%; */
    display: flex;
    align-items: center;
    gap: 4%;
}

.header--log-in, .header--sing-in {
    /* padding: 0% 25% 0% 25%; */
    padding: 1rem;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.header--log-in:hover, .header--sing-in:hover {
    text-shadow: #fff 1px 0 10px;
    color: #fff;
}

.header--sing-in {
    background: #F04451;
    box-shadow: 0px 4px 25px 0px #F0445140;
    border-radius: 15px;
}

.header--ico-name-company {
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.13px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}


/* --------------------------------------------------------------------------------------------------
   --------------------------------------------- Main -----------------------------------------------
   -------------------------------------------------------------------------------------------------- */
/*.main--block {
    margin: 0% 13% 0% 13%;
}*/

.main--center-text-h1 {
    font-family: Raleway;
    font-size: 64px;
    font-weight: 600;
    line-height: 70.4px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.main--main-background {
    display: flex;
    position: absolute;
    right: 0;
    height: 80%;
}

.main--center-text-h1 {
    margin: 0% 0% 5% 0%;
}

.main--text-block-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
}

.main--points {
    margin-right: 5%;
}

.main--points-container {
    display: flex;
}

.main--points-li {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.main--points-li-p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.main--buttons-container {
    margin: 3% 0% 0% 0%;
    display: flex;
}

.main--buttons-container a {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.main--about-button {
    padding: 1rem;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

.main--join-button {
    padding: 1rem;
    background: #F04451;
    box-shadow: 0px 4px 25px 0px #F0445140;
    border-radius: 15px;
    margin-right: 15px;
}

input#header--checkbox4 {
    display: none;
}

.main--1220-dota, .main--1220-cs {
    display: none;
}

/* --------------------------------------------------------------------------------------------------
   --------------------------------------------- Footer ---------------------------------------------
   -------------------------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------------------------
   --------------------------------------------- Media ----------------------------------------------
   -------------------------------------------------------------------------------------------------- */
@media (max-width: 1500px) {
    .header--nav {
        margin: 29px 7% 0% 7%;
    }

    .main--block {
        margin: 0% 7% 0% 7%;
    }
}

@media (max-width: 1250px) {
    .header--nav {
        margin: 29px 0.9% 0% 0.9%;
    }

    .main--block {
        margin: 0% 0.9% 0% 0.9%;
    }
}

@media (max-width: 1100px) {
    .header--nav-main {
        display: none;
    }

    .header--nav {
        margin: 29px 18% 0% 7%;
    }

    .main--block {
        margin: 0% 18% 0% 7%;
    }
    
    /*.header--ico {
        padding: 0% 50% 0% 0%;
    }*/

    /*.header--sign-log-block {
        padding: 0% 15% 0% 0%;
    }*/

    .header--bar {
        width: 3px;
        height: 30px;
        transform: rotate(90deg);
        position: absolute;
        background: #fff;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
    }

    .header--bar1 {
        top: 31px;
        right: 50px;
    }

    .header--bar2 {
        top: 43px;
        height: 22px !important;
        right: 47px;
    }

    .header--bar3 {
        top: 48px;
        right: 50px;
    }

    .main--center-text-h1 {
        font-family: Raleway;
        font-size: 36px;
        font-weight: 600;
        line-height: 39.6px;
        text-align: left;
    }
    
    .main--points-container {
        display: block;
    }


}

@media (max-width: 640px) {
    .header--sign-log-block {
        display: none;
    }

    .main--main-background {
        display: none;
    }

    .main--1220-dota, .main--1220-cs {
        display: flex !important;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}