@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <div class="main--block">
        <img class="main--main-background" src="~/Content/imgs/background-main.png" alt="Main Picture">
        <img class="main--1220-dota" src="~/Content/imgs/dota-player1220.png" alt="Dota 1220px">
        <img class="main--1220-cs" src="~/Content/imgs/cs-player1220.png" alt="CS 1220px">
        <div class="main--text-block-main">
            <h2 class="main--center-text-h1">ИГРАЙ, РАЗВИВАЙСЯ<br>И ВЫИГРЫВАЙ<br>ВМЕСТЕ С НАМИ</h2>
            <div class="main--points-container">
                <ul class="main--points">
                    <li class="main--points-li">
                        <img src="~/Content/imgs/red-point.svg" alt="Red Point">
                        <p class="main--points-li-p">Ежедневные турниры</p>
                    </li>
                    <li class="main--points-li">
                        <img src="~/Content/imgs/red-point.svg" alt="Red Point">
                        <p class="main--points-li-p">Денежные призы</p>
                    </li>
                    <li class="main--points-li">
                        <img src="~/Content/imgs/red-point.svg" alt="Red Point">
                        <p class="main--points-li-p">Свой подход к читерству</p>
                    </li>
                </ul>
                <ul class="main--points">
                    <li class="main--points-li">
                        <img src="~/Content/imgs/red-point.svg" alt="Red Point">
                        <p class="main--points-li-p">Уникальная рейтинговая система</p>
                    </li>
                    <li class="main--points-li">
                        <img src="~/Content/imgs/red-point.svg" alt="Red Point">
                        <p class="main--points-li-p">Развитие в любой отрасли киберспорта</p>
                    </li>
                    <li class="main--points-li">
                        <img src="~/Content/imgs/red-point.svg" alt="Red Point">
                        <p class="main--points-li-p">Интересный матчмейкинг</p>
                    </li>
                </ul>
            </div>
            <div class="main--buttons-container">
                <a class="main--join-button" href="#">Присоединиться</a>
                <a class="main--about-button" href="#">О проекте</a>
            </div>
        </div>
    </div>
</main>